#signup{
    margin: 0 auto;
}



#text_title{
    text-align: center;
    margin: 0 auto;
}
#signup_form{
    margin: 0 auto;    
    width: 35%;    
    border: 1px dotted forestgreen;
    box-shadow: 2px 2px 2px darkgray;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to right bottom, white 30%, whitesmoke 70%);
}
#form_title{
    background: linear-gradient(to bottom, green 20%, limegreen 80%);
    color: white;
    height: 40px;
    border: green 1px solid;
    border-radius: 10px;
    font-size: x-large;
    padding: 2px;
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

#text_boxes{
    width: 90%;
    height: 25px;
    border-bottom: ridge;
    border:  1pt darkgray solid;
    border-radius: 5px;
}

#left_corner{
    float: left;
    width: 45%;
}

    
#submit_button{
    background: linear-gradient(to bottom, green 20%, limegreen 80%);
    color: white;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    height: 30px;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    border: 1pt green solid;
    border-radius: 10px;
}

#submit_button:hover{
    color: yellow;
    cursor: pointer;
}


#cancel_button{
    background: linear-gradient(to bottom, darkgray 20%, whitesmoke 80%);
    color: black;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    height: 30px;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    border: 1pt darkgray solid;
    border-radius: 10px;
}

#cancel_button:hover{
    cursor: pointer;
    color: darkgreen;
}
    
