#text_boxes{
	width: 90%;
	height: 25px;
    border-bottom: ridge;
    border:  1pt darkgray solid;
    border-radius: 5px;
}

#signin_form{
	margin: 0 auto;
   width: 40%;
   text-align: justify;
   border: 1px dotted forestgreen;
   border-radius: 10px;
   padding-left: 90px;
   padding-right: 70px;
   background: linear-gradient(to right bottom, white 30%, whitesmoke 70%);
   box-shadow: 5px 5px 2px lightgray;
}

#submit_button{
    background: linear-gradient(to bottom, green 20%, limegreen 80%);
    color: white;
    
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    height: 30px;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    border: 1pt green solid;
    border-radius: 10px;
}

#submit_button:hover{
    color: yellow;
    cursor: pointer;
}

#blank_space{
    background-color:  white;
    width: 100%;
    height: 80px;
}








